*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
} 

header{
    /*background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(kep.jpg);*/
    height: 100px;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}

/* ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;

}

ul li.active a{
    background-color: white;
    color: black;
}

.main{
    /*max-width: 1200px;*/
    /*margin: auto;
} */

/*navbar #2*/
.topnav {
    overflow: hidden;
    background-color: burlywood;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(160, 123, 75);
    color: white;
  }
  
  .topnav a.active {
    background-color:rgb(160, 123, 75);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.title{
    position: absolute;
    /* top: 47%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

}

.title h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

}
body{
    background-color: darkcyan;
    /* background-image: url(kep.jpg); */
    background-image: url(kep2.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    min-height: 100vh;/* A body legalább a teljes képernyőmagasságot kitölti */
    display: flex;
    flex-direction: column;

}

.slogen {
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    color: black;
    font-size: larger;
}

@media screen and (max-width: 900px) {
    .slogen h2 {
        font-size: 1.8rem; /* Kisebb betűméret tableten */
    }

    .slogen p {
        font-size: 1rem; /* Kisebb betűméret tableten */
    }
}

@media screen and (max-width: 600px) {
    .slogen {
        padding: 10px; /* Csökkentett padding mobilon */
        top: 100%;
    }

    .slogen h2 {
        font-size: 1.5rem; /* Kisebb betűméret mobilon */
    }

    .slogen p {
        font-size: 0.9rem; /* Kisebb betűméret mobilon */
    }
}

.idovonal{
    width: 1000px;
    margin: 500px auto;
    position: relative;
    display: none;
    
}

.idovonal::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    border-radius: 50px;
    animation: LineAnimated 5s linear forwards;
    z-index: -1;
}
@keyframes LineAnimated{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.container{
    width: 42%;
    position: relative;
    padding: 30px 40px; /*távolság*/
    animation: Animate-Container 1s linear forwards;
    opacity: 0;
    animation-delay: var(--dly);
}
@keyframes Animate-Container{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(even){
    right: -50%;
}
.container:nth-child(odd)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#887055, #887055, #887055);
    top: 0;
    right: -7px;
    border-radius: 50%;
    z-index: 10;
}

::after, ::before {
    box-sizing: border-box;
}

.container:nth-child(even)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#887055, #887055, #887055);
    top: 0;
    left: -12.5px;
    border-radius: 50%;
    z-index: 10;
}
.bal{
    left: 80px;
}

.szoveg{
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #191919;
    display: grid;
    gap: 5px;
    backdrop-filter: blur(10px);
    background-color: burlywood;
}
.szoveg h2{
    font-size: 25px;
}
.szoveg p{
    font-size: 16px;
    /*margin: 10px, 0;*/
    margin-top: 10px;
    text-align: justify;
    color: black;
}

/* szlogen */
.slogen{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: burlywood;
}

.slogen h3{
    padding: 10px;
}

.slogenp{
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/*tovább olvasok gomb*/
.gomb {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.gomb {
    background-color:antiquewhite; 
    color: black; 
}
.gomb:hover {
    /*átmnetes gomb lenne, csak nem sikerül (piros-fehér-zöld) :(((
    background-color: linear-gradient(#FF0000, #FBFAF3, #2B7239); 
    */
    background-color:khaki;
    color: black;
}

.tovabb {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}
.valasztogomb1{
    background-color: white; 
    color: black; 
    border: 2px solid burlywood;
}

.valasztogomb1:hover {
    background-color: burlywood;
    color: white;
}

.valasztogomb2{
    background-color: white; 
    color: black; 
    border: 2px solid burlywood;
}

.valasztogomb2:hover {
    background-color: burlywood;
    color: white;
}

/*idővonal elrejtése*/
#bezar{
    display: none;
}

/*idővonal elrejtése*/
#bezar2{
    display: none;
    /*z-index: 10;*/
}


.idovonal_valaszto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*egyetemes idővonal*/
.eidovonal{
    width: 1000px;
    margin: 500px auto;
    position: relative;
    display: none;
} 
.eidovonal::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(#7a573a, #977242, #b3966b);
    border-radius: 50px;
    animation: LineAnimated 5s linear forwards;
    z-index: -1;
}





/* menj fel gomb */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: burlywood; 
  }

  /* media */
@media  screen and (max-width: 1200px) {
    

    .idovonal{
        margin-top: 650px;
    }
    .eidovonal{
        margin-top: 650px;
    }
    .idovonal_valaszto{
        top: 50%;
    }
    
}
@media screen and (max-width: 900px) {
        /* body{
            max-width: 900px;
        } */

        .idovonal_valaszto{
            top: 50%;
        }
        .idovonal{
            margin-top: 600px;
        }

        /* balra teszi az idővonalat */
        .idovonal::after {
            left: 40px;
        }
        .eidovonal::after {
            left: 40px;
        }
        
        /* Full-width containerek */
        .container {
            max-width: 100%;
            padding: 30px 40px; /*távolság*/
            /* padding-left: 100px; */
            /*box-sizing: border-box;*/
            /*margin: 0 auto;*/
        }
        
        /*minden nyíl balra mutat */
        .container::before {
            left: -12px; /*pötty a vonalon*/
            /*border: medium solid white;*/
            border-width: 10px 10px 10px 0;
        }
      
        /* Minden pötty ugyan ott van */
        .bal::after, .jobb::after {
            left: 100px;
        }
        
        /*összes jobb oldali konténer úgy, mint a bal oldaliak*/
        .jobb {
            left: 45px;
        }
        .bal {
            left: 45px;
        }

        /* .szoveg {
            font-size: 14px; /* Kisebb betűméret a jobb olvashatóságért */
            /*word-wrap: break-word;
            overflow-wrap: break-word; /* Tördelés hosszú szavak esetén */
        /*} */
        .szoveg{
            width: 600px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
}

/*.......görgetéses*/
/*optimalizálás teló és tablet*/

@media screen and (max-width: 750px) {
    .szoveg{
        width: 400px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 600px) {
    .title {
        position: static; /* Távolítsd el az abszolút pozícionálást */
        text-align: center; /* Középre igazítja a címet */
        margin: 0 auto; /* Biztosítja, hogy középen maradjon */
    }

    .title h1 {
        font-size: 70px; /* Igazítsd a betűméretet mobilnézethez */
        text-align: center; /* A h1 elem középre igazítása */
    }
     
    .szoveg{
        width: 400px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}
@media screen and (max-width: 550px) {
    .idovonal_valaszto{
        top: 60%;
    }
    .idovonal{
        margin-top: 500px;
    }
    .szoveg{
        width: 280px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .slogen{
        top: 40%;
    }
}

/*rólunk rész*/
/*külön css-be raktam, mert összebugol a többi paraméterrel*/

/*footer*/
.footer {
    display: flex;
    justify-content: center; /* Vízszintes középre igazítás */
    align-items: center; /* Függőleges középre igazítás */
    height: 100px;
    width: 100%;
    background-color: burlywood;
    color: white;
    text-align: center;
    margin-top: auto;
}

/*social oldalak*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

/*AAAAHHHHHHHHH*/



.div {
    /*Pozíciónálások-Méretezések*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    z-index: 1;
    outline: none;
}

.kontent {
    /*Pozíciónálások-Méretezések*/
    width: 400px;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    /*background-color: transparent*/
    background-color: burlywood;
    /* backdrop-filter: blur(5px); */
    outline: none;
}

/*Form-div1-gomb-uzenet*/

.input {
    /*Pozíciónálások-Méretezések*/
    display: block;
    margin: auto;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid white;
    backdrop-filter: blur(5px);


    /*Háttér-Stílusok*/
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    /*Pozíciónálások-Méretezések*/
    font-size: 15px;

    /*Háttér-Stílusok*/
    color: white;
}

/*Div1 osztálya:*/
.hidden {
    display: none;
}

.close {
    padding: 5px;
    font-size: 30px;
    float: right;

    /*Háttér-Stílusok*/
    cursor: pointer;
    color: white;
}

/*Regisztrációs gomb*/
.rgomb {
    /*Pozíciónálások-Méretezések*/
    height: 40px;
    width: 200px;
    border-radius: 20px;


    /*Háttér-Stílusok*/
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: transform 0.5s ease;
    backdrop-filter: blur(5px);
}

.rgomb:hover {
    /*Pozíciónálások-Méretezések*/
    transform: scale(1.2);


    /*Háttér-Stílusok*/
    cursor: pointer;
    border-color: rgb(59, 227, 13);
    color: rgb(59, 227, 13);

}


#bejelink {
    /*Háttér-Stílusok*/
    color: rgb(59, 227, 13);
}

#bejelink:hover {
    /*Háttér-Stílusok*/
    color: white;
}

#regilink {
    color: rgb(59, 227, 13);
}

#regilink:hover {
    color: white;

}

#h2b {
    /*Pozíciónálások-Méretezések*/
    text-align: center;
    padding: 10px;


    /*Háttér-Stílusok*/
    color: white;
}

p{
    color: white;
    padding: 15px;
    
}

.emlekezzram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
}

.emlekezzram input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    
}

.emlekezzram label {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#message{
    display: none;
    color: white;
    margin-top: 5px;
}

/* első világháború */

#elsovh_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/1vh1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#elsovh_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

#alcim {
    background: #333;
    color: #fff;
    padding: 0px ; 
    text-align: center;
}

h4 {
    background: #333;
    color: #fff;
    padding: 5px ; 
    text-align: center;
    
    
} 

.fejezet {
    padding: 20px; 
    margin: 20px auto; 
    max-width: 800px;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

.fejezetcim {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px; 
}


#gyarmatKep {
    height: 550px;
    width: 750px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    
    
}

#szovetsegekKep {
    height: 450px;
    width: 550px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

#kontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#kontener1{
    width: 33.33%;
    border-radius: 5%;
}

#kontener2{
    width: 33.33%;
    border-radius: 5%;
    
}

#kontener1 img, #kontener2 img{
    width: 100%;
    border-radius: 25px;
}

#kontener1 p, #kontener2 p{
    text-align: center;
    font-weight: bold;
}


#szarajevo{
   
    display: flex;
}

#szarajevo img{
    width: 40%;
    border-radius: 5%;
}

#szarajevo p{
    width: 60%;
}



#Esemeny1915{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#Gorlicei{
    width: 70%;
    border-radius: 5%;
}

#sargaszold{
    width: 70%;
    border-radius: 5%;
    
}

#Gorlicei img, #sargaszold img{
    width: 100%;
    border-radius: 25px;
}

#sargaszold img{
    height: 270px;
}

#Gorlicei p, #sargaszold p{
    text-align: center;
    font-weight: bold;
}

#verdunicsata{
    display: flex;
}

#verdunicsata img{
    width: 40%;
    border-radius: 5%;
}

#verdunicsata p{
    width: 60%;
}


.elsovh_kepek{
    width: 70%;
    border-radius: 5%;
}

/* a két világháború között */

#ketvhkozt_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/ketvhkozt_kep2.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#ketvhkozt_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.ketvhkozt_kepek{
    width: 65%;
    border-radius: 8%;
    
}

#ducekep{
    width: 55%;
    border-radius: 5%;
    
}

#hitler{
   
    display: flex;
}

#hitler img{
    width: 50%;
    border-radius: 5%;
}

#hitler p{
    width: 60%;
    padding-left: 30px;
}

#sztalin{
   
    display: flex;
}

#sztalin img{
    width: 50%;
    border-radius: 5%;
}

#sztalin p{
    width: 60%;
    padding-left: 30px;
}

#szovjet_terjeszkedes{
    width: 100%;
    border-radius: 8%;
    padding-top: 50px;
}

/* A hidegháború */

#hideghaboru_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/coldwar1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#hideghaboru_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.hideghaboru_kepek{
    width: 65%;
    border-radius: 8%;
    
}

#nato_vsz_Kontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#NatoKontener{
    width: 33.33%;
    border-radius: 5%;
    padding-top: 35px;
    
}

#VszKontener{
    width: 33.33%;
    border-radius: 5%;
    
}

#NatoKontener img, #VszKontener img{
    width: 100%;
    border-radius: 25px;
}

#NatoKontener p, #VszKontener p{
    text-align: center;
    font-weight: bold;
}

#korea{
   
    display: flex;
}

#korea img{
    width: 40%;
    border-radius: 5%;
}

#korea p{
    width: 60%;
    padding-left: 30px;
    padding-top: 45px;
}

#hruszcsov{
   
    display: flex;
}

#hruszcsov img{
    width: 50%;
    border-radius: 5%;
}

#hruszcsov p{
    width: 60%;
    padding-left: 30px;
    padding-bottom: 50px;
    
    
}

#raketaKontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#fenyegetesKontener{
    width: 33.33%;
    border-radius: 5%;
    
}

#castroKontener{
    width: 35.33%;
    border-radius: 5%;
    
}

#fenyegetesKontener img, #castroKontener img{
    width: 100%;
    border-radius: 25px;
}

#fenyegetesKontener p, #castroKontener p{
    text-align: center;
    font-weight: bold;
}

#szovjet_szeteses{
    width: 90%;
    border-radius: 8%;
    
}

/* Magyarország az első világháborúban betöltött szerepe és az azt követő időszak  */

#hu_elsovh_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/oszirozsas.jpeg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#hu_elsovh_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.hu_elsovh_kepek{
    width: 65%;
    border-radius: 8%;
    
}

#kun{
   
    display: flex;
}

#kun img{
    width: 40%;
    border-radius: 5%;
}

#kun p{
    width: 60%;
    padding-left: 30px;
    padding-top: 45px;
}

#vixjegyzek{
    width: 90%;
    border-radius: 8%;
    padding-top: 50px;
}

#trianon1{
    width: 90%;
    border-radius: 8%;
    
}



/* Horthy korszak */

#horthykorszak_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/hor2.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#horthykorszak_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.horthykorszak_kepek{
    width: 65%;
    border-radius: 8%;
    
}

#bethlen{
   
    display: flex;
}

#bethlen img{
    width: 40%;
    border-radius: 5%;
    
}

#bethlen p{
    width: 60%;
    padding-left: 30px;
    
    
}

#gombosi_daranyi_kontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#gombosi{
    width: 33.33%;
    border-radius: 5%;
    
}

#daranyi{
    width: 33.33%;
    border-radius: 5%;
    
    
}

#daranyi img{
    height: 370px;
}


#gombosi img, #daranyi img{
    width: 100%;
    border-radius: 25px;
}

#gombosi p, #daranyi p{
    text-align: center;
    font-weight: bold;
}

#imredy{
   
    display: flex;
}

#imredy img{
    width: 40%;
    border-radius: 5%;
    padding-top: 45px;
    
    
}

#imredy p{
    width: 60%;
    padding-left: 30px;
    
    
}

#elso_becsi_dontes{
    width: 100%;
    border-radius: 8%;
}

/* Magyarország a második világháborúban */

#hu_masodikvh_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/hid4.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#hu_masodikvh_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.hu_masodikvh_kepek{
    width: 65%;
    border-radius: 8%;
    
}

#Masodikbecsidontes{
    width: 85%;
    border-radius: 8%;
}

#kassa{
   
    display: flex;
}

#kassa img{
    width: 40%;
    border-radius: 5%;
    padding-top: 45px;
    
    
}

#kassa p{
    width: 60%;
    padding-left: 30px;
    
    
}

#barbarossa41{
    width: 92%;
    border-radius: 8%;
}

#margaretaterv{
    width: 90%;
    border-radius: 5%;
}

#magyarfront{
    width: 90%;
    border-radius: 8%;
}

#nemzetgyules{
   
    display: flex;
}

#nemzetgyules img{
    width: 40%;
    border-radius: 5%;
    padding-top: 45px;
    
    
}

#nemzetgyules p{
    width: 60%;
    padding-left: 30px;
    
    
}

/* Rákosi-korszak és az 56-os forradalom */

#rakosi_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/56_3.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#rakosi_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.rakosi_kepek{
    width: 65%;
    border-radius: 8%;
    
}

/* Kádár-korszak */

#kadar_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/kadarhatter1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#kadar_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
    height: 120px;
}

.kadar_kepek{
    width: 65%;
    border-radius: 8%;
    
}
