*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    /*background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(kep.jpg);*/
    height: 100px;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;

}

ul li.active a{
    background-color: white;
    color: black;
}

.main{
    max-width: 1200px;
    margin: auto;

}


.title{
    position: absolute;
    /* top: 47%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

}

.title h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

}
body{
    background-color: darkcyan;
    background-image: url(kep2.jpg);
    /* background-image: url(kep2.jpg); */
}
.idovonal{
    width: 1000px;
    margin: 500px auto;
    position: relative;
    display: none;
    
}

.idovonal::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    border-radius: 50px;
    animation: LineAnimated 5s linear forwards;
    z-index: -1;
}
@keyframes LineAnimated{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.container{
    width: 42%;
    position: relative;
    padding: 30px 40px; /*távolság*/
    animation: Animate-Container 1s linear forwards;
    opacity: 0;
    animation-delay: var(--dly);
}
@keyframes Animate-Container{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(even){
    right: -50%;
}
.container:nth-child(odd)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    top: 0;
    right: -7px;
    border-radius: 50%;
    z-index: 10;
}

.container:nth-child(even)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    top: 0;
    left: -12.5px;
    border-radius: 50%;
    z-index: 10;
}

.szoveg{
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #191919;
    display: grid;
    gap: 5px;
    backdrop-filter: blur(10px);
}
.szoveg h2{
    font-size: 25px;
}
.szoveg p{
    font-size: 16px;
    /*margin: 10px, 0;*/
    margin-top: 10px;
    text-align: justify;
}
/*tovább olvasok gomb*/
.gomb {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.gomb {
    background-color:antiquewhite; 
    color: black; 
}
.gomb:hover {
    /*átmnetes gomb lenne, csak nem sikerül (piros-fehér-zöld) :(((
    background-color: linear-gradient(#FF0000, #FBFAF3, #2B7239); 
    */
    background-color:khaki;
    color: black;
}

.valasztogomb1{
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}

.valasztogomb1:hover {
    background-color: #04AA6D;
    color: white;
}

.valasztogomb2{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.valasztogomb2:hover {
    background-color: #04AA6D;
    color: white;
}

/*idővonal elrejtése*/
#bezar{
    display: none;
}

/*idővonal elrejtése*/
#bezar2{
    display: none;
    /*z-index: 10;*/
}


.idovonal_valaszto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*egyetemes idővonal*/
.eidovonal{
    width: 1000px;
    margin: 500px auto;
    position: relative;
    display: none;
} 
.eidovonal::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(#1164d1, #FBFAF3, #e2df09);
    border-radius: 50px;
    animation: LineAnimated 5s linear forwards;
    z-index: -1;

}



/* menj fel gomb */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

  /* media */
@media screen and (max-width: 900px) {
        body{
            max-width: 900px;
        }
        
        /* balra teszi az idővonalat */
        .idovonal::after {
            left: 40px;
        }
        .eidovonal::after {
            left: 40px;
        }    
        
        /* Full-width containerek */
        .container {
            max-width: 100%;
            padding: 30px 40px; /*távolság*/
            /* padding-left: 70px;
            padding-right: 25px; */
        }
        
        /*minden nyíl balra mutat */
        .container::before {
            left: 33px;
            /*border: medium solid white;*/
            border-width: 10px 10px 10px 0;
        }
      
        /* Minden pötty ugyan ott van */
        .bal::after, .jobb::after {
            left: 60px;
        }
        
        /* Tedd az összes jobb oldali konténert úgy, mint a bal oldaliakat */
        .jobb {
            left: 45px;
        }
}

/*AAAAHHHHHHHHH*/



.div {
    /*Pozíciónálások-Méretezések*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    z-index: 1;
    outline: none;
}

.kontent {
    /*Pozíciónálások-Méretezések*/
    width: 400px;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    background-color: transparent;
    backdrop-filter: blur(5px);
    outline: none;
}

/*Form-div1-gomb-uzenet*/

.input {
    /*Pozíciónálások-Méretezések*/
    display: block;
    margin: auto;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid white;
    backdrop-filter: blur(5px);


    /*Háttér-Stílusok*/
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    /*Pozíciónálások-Méretezések*/
    font-size: 15px;

    /*Háttér-Stílusok*/
    color: white;
}

/*Div1 osztálya:*/
.hidden {
    display: none;
}

.close {
    padding: 5px;
    font-size: 30px;
    float: right;

    /*Háttér-Stílusok*/
    cursor: pointer;
    color: white;
}

/*Regisztrációs gomb*/
.rgomb {
    /*Pozíciónálások-Méretezések*/
    height: 40px;
    width: 200px;
    border-radius: 20px;


    /*Háttér-Stílusok*/
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: transform 0.5s ease;
    backdrop-filter: blur(5px);
}

.rgomb:hover {
    /*Pozíciónálások-Méretezések*/
    transform: scale(1.2);


    /*Háttér-Stílusok*/
    cursor: pointer;
    border-color: rgb(59, 227, 13);
    color: rgb(59, 227, 13);

}


#bejelink {
    /*Háttér-Stílusok*/
    color: rgb(59, 227, 13);
}

#bejelink:hover {
    /*Háttér-Stílusok*/
    color: white;
}

#regilink {
    color: rgb(59, 227, 13);
}

#regilink:hover {
    color: white;

}

#h2b {
    /*Pozíciónálások-Méretezések*/
    text-align: center;
    padding: 10px;


    /*Háttér-Stílusok*/
    color: white;
}

p{
    color: white;
    padding: 15px;
    
}

.emlekezzram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
}

.emlekezzram input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    
}

.emlekezzram label {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#message{
    display: none;
    color: white;
    margin-top: 5px;
}

/* első világháború */

#elsovh_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/1vh1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#elsovh_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
}

#alcim {
    background: #333;
    color: #fff;
    padding: 5px ; 
    text-align: center;
}

h4 {
    background: #333;
    color: #fff;
    padding: 5px ; 
    text-align: center;
    
    
}

.fejezet {
    padding: 20px; 
    margin: 20px auto; 
    max-width: 800px;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

.fejezetcim {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px; 
}


#gyarmatKep {
    height: 550px;
    width: 750px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    
    
}

#szovetsegekKep {
    height: 450px;
    width: 550px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

#kontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#kontener1{
    width: 33.33%;
    border-radius: 5%;
}

#kontener2{
    width: 33.33%;
    border-radius: 5%;
    
}

#kontener1 img, #kontener2 img{
    width: 100%;
    border-radius: 25px;
}

#kontener1 p, #kontener2 p{
    text-align: center;
    font-weight: bold;
}


#szarajevo{
   
    display: flex;
}

#szarajevo img{
    width: 40%;
    border-radius: 5%;
}

#szarajevo p{
    width: 60%;
}



#Esemeny1915{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#Gorlicei{
    width: 70%;
    border-radius: 5%;
}

#sargaszold{
    width: 70%;
    border-radius: 5%;
    
}

#Gorlicei img, #sargaszold img{
    width: 100%;
    border-radius: 25px;
}

#sargaszold img{
    height: 270px;
}

#Gorlicei p, #sargaszold p{
    text-align: center;
    font-weight: bold;
}

#verdunicsata{
    display: flex;
}

#verdunicsata img{
    width: 40%;
    border-radius: 5%;
}

#verdunicsata p{
    width: 60%;
}


.elsovh_kepek{
    width: 70%;
    border-radius: 5%;
}

/* a két világháború között */

#ketvhkozt_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/ketvhkozt_kep2.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#ketvhkozt_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
}

.ketvhkozt_kepek{
    width: 65%;
    border-radius: 8%;
    padding-top: 50px;
    
    
}

#ducekep{
    width: 55%;
    border-radius: 5%;
    padding-top: 50px;
}

#hitler{
   
    display: flex;
}

#hitler img{
    width: 50%;
    border-radius: 5%;
}

#hitler p{
    width: 60%;
    padding-left: 30px;
}

#sztalin{
   
    display: flex;
}

#sztalin img{
    width: 50%;
    border-radius: 5%;
}

#sztalin p{
    width: 60%;
    padding-left: 30px;
}

#szovjet_terjeszkedes{
    width: 100%;
    border-radius: 8%;
    padding-top: 50px;
}

/* A hidegháború */

#hideghaboru_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(fenykepek/coldwar1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#hideghaboru_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
}

.hideghaboru_kepek{
    width: 65%;
    border-radius: 8%;
    padding-top: 50px;
}

#nato_vsz_Kontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#NatoKontener{
    width: 33.33%;
    border-radius: 5%;
    padding-top: 35px;
    
}

#VszKontener{
    width: 33.33%;
    border-radius: 5%;
    
}

#NatoKontener img, #VszKontener img{
    width: 100%;
    border-radius: 25px;
}

#NatoKontener p, #VszKontener p{
    text-align: center;
    font-weight: bold;
}

#korea{
   
    display: flex;
}

#korea img{
    width: 40%;
    border-radius: 5%;
}

#korea p{
    width: 60%;
    padding-left: 30px;
    padding-top: 45px;
}

#hruszcsov{
   
    display: flex;
}

#hruszcsov img{
    width: 50%;
    border-radius: 5%;
}

#hruszcsov p{
    width: 60%;
    padding-left: 30px;
    padding-bottom: 50px;
    
    
}

#raketaKontenerek{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#fenyegetesKontener{
    width: 33.33%;
    border-radius: 5%;
    
}

#castroKontener{
    width: 35.33%;
    border-radius: 5%;
    
}

#fenyegetesKontener img, #castroKontener img{
    width: 100%;
    border-radius: 25px;
}

#fenyegetesKontener p, #castroKontener p{
    text-align: center;
    font-weight: bold;
}

#szovjet_szeteses{
    width: 90%;
    border-radius: 8%;
    padding-top: 50px;
}




