body {
    background-color: darkcyan;
}

* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(horthy.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}

.main {
    background: rgba(0, 0, 0, 0.6); 
    display: inline-block; 
    padding: 12px;
    border-radius: 10px; 
    
}



ul {
    float: right;
    list-style-type: none;
    margin-top: 0;
    margin-right: 60px;
    font-size: 17px;
}

ul li {
    display: inline-block;
    padding: 10px 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover {
    background-color: white; 
    color: black;
}

ul li.active a {
    background-color: white;
    color: black;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.idovonal{
    width: 1000px;
    margin: 100px auto;
    position: relative;
    
}
.idovonal::after{
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    border-radius: 50px;
    animation: LineAnimated 5s linear forwards;
    z-index: -1;
}
@keyframes LineAnimated{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.container{
    width: 42%;
    position: relative;
    padding: 30px 40px; /*távolság*/
    animation: Animate-Container 1s linear forwards;
    opacity: 0;
    animation-delay: var(--dly);
}
@keyframes Animate-Container{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(even){
    right: -50%;
}
.container:nth-child(odd)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    top: 0;
    right: -7px;
    border-radius: 50%;
    z-index: 10;
}

.container:nth-child(even)::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(#FF0000, #FBFAF3, #2B7239);
    top: 0;
    left: -12.5px;
    border-radius: 50%;
    z-index: 10;
}

.szoveg{
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #191919;
    display: grid;
    gap: 5px;
}
.szoveg h2{
    font-size: 25px;
}
.szoveg p{
    font-size: 13px;
    /*margin: 10px, 0;*/
    margin-top: 10px;
}
.gomb {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .gomb {
    background-color:antiquewhite; 
    color: black; 
  }
  .gomb:hover {
    /*átmnetes gomb lenne, csak nem sikerül (piros-fehér-zöld) :(((
    background-color: linear-gradient(#FF0000, #FBFAF3, #2B7239); 
    */
    background-color:khaki;
    color: black;
  }


.div {
    /*Pozíciónálások-Méretezések*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    z-index: 1;
    outline: none;
}

.kontent {
    /*Pozíciónálások-Méretezések*/
    width: 400px;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    background-color: transparent;
    backdrop-filter: blur(5px);
    outline: none;
}

/*Form-div1-gomb-uzenet*/

.input {
    /*Pozíciónálások-Méretezések*/
    display: block;
    margin: auto;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid white;
    backdrop-filter: blur(5px);


    /*Háttér-Stílusok*/
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    /*Pozíciónálások-Méretezések*/
    font-size: 15px;

    /*Háttér-Stílusok*/
    color: white;
}

/*Div1 osztálya:*/
.hidden {
    display: none;
}

.close {
    padding: 5px;
    font-size: 30px;
    float: right;

    /*Háttér-Stílusok*/
    cursor: pointer;
    color: white;
}

/*Regisztrációs gomb*/
.gomb {
    /*Pozíciónálások-Méretezések*/
    height: 40px;
    width: 200px;
    border-radius: 20px;


    /*Háttér-Stílusok*/
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: transform 0.5s ease;
    backdrop-filter: blur(5px);
}

.gomb:hover {
    /*Pozíciónálások-Méretezések*/
    transform: scale(1.2);


    /*Háttér-Stílusok*/
    cursor: pointer;
    border-color: rgb(59, 227, 13);
    color: rgb(59, 227, 13);

}


#bejelink {
    /*Háttér-Stílusok*/
    color: rgb(59, 227, 13);
}

#bejelink:hover {
    /*Háttér-Stílusok*/
    color: white;
}

#regilink {
    color: rgb(59, 227, 13);
}

#regilink:hover {
    color: white;

}

#h2b {
    /*Pozíciónálások-Méretezések*/
    text-align: center;
    padding: 10px;


    /*Háttér-Stílusok*/
    color: white;
}

p{
    color: white;
    padding: 15px;
}

.emlekezzram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
}

.emlekezzram input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    
}

.emlekezzram label {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#message{
    display: none;
    color: white;
    margin-top: 5px;
}

/* első világháború */


#elsovh_body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    background-image: url(1vh1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
}

#elsovh_header {
    background: #333;
    color: #fff;
    padding: 20px ; 
    text-align: center;
}

#alcim {
    background: #333;
    color: #fff;
    padding: 5px ; 
    text-align: center;
}

h4 {
    background: #333;
    color: #fff;
    padding: 5px ; 
    text-align: center;
}

section {
    padding: 20px; 
    margin: 20px auto; 
    max-width: 800px;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
    
}

.fejezetcim {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px; 
}

.elsovh_div {
    margin-bottom: 15px;
    text-align: justify; 
}


#gyarmatKep {
    height: 550px;
    width: 750px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    
    
}

#szovetsegekKep {
    height: 500px;
    width: 650px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

/* kijelentkezés */

/* Modal háttér */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal tartalom */
.modal-content {
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Bezáró gomb */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* Gombok */
.modal-content button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.modal-content button:hover {
    background-color: #c9302c;
}

/* Alapból rejtett modal */
.hidden {
    display: none;
}



