* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(horthy.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li.active a {
    background-color: white;
    color: black;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div {
    /*Pozíciónálások-Méretezések*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    z-index: 1;
    outline: none;
}

.kontent {
    /*Pozíciónálások-Méretezések*/
    width: 400px;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    align-items: center;
    justify-content: center;


    /*Háttér-Stílusok*/
    background-color: transparent;
    backdrop-filter: blur(5px);
    outline: none;
}

/*Form-div1-gomb-uzenet*/

.input {
    /*Pozíciónálások-Méretezések*/
    display: block;
    margin: auto;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid white;
    backdrop-filter: blur(5px);


    /*Háttér-Stílusok*/
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    /*Pozíciónálások-Méretezések*/
    font-size: 15px;

    /*Háttér-Stílusok*/
    color: white;
}

/*Div1 osztálya:*/
.hidden {
    display: none;
}

.close {
    padding: 5px;
    font-size: 30px;
    float: right;

    /*Háttér-Stílusok*/
    cursor: pointer;
    color: white;
}

/*Regisztrációs gomb*/
.gomb {
    /*Pozíciónálások-Méretezések*/
    height: 40px;
    width: 200px;
    border-radius: 20px;


    /*Háttér-Stílusok*/
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: transform 0.5s ease;
    backdrop-filter: blur(5px);
}

.gomb:hover {
    /*Pozíciónálások-Méretezések*/
    transform: scale(1.2);


    /*Háttér-Stílusok*/
    cursor: pointer;
    border-color: rgb(59, 227, 13);
    color: rgb(59, 227, 13);

}


#bejelink {
    /*Háttér-Stílusok*/
    color: rgb(59, 227, 13);
}

#bejelink:hover {
    /*Háttér-Stílusok*/
    color: white;
}

#regilink {
    color: rgb(59, 227, 13);
}

#regilink:hover {
    color: white;

}

#h2b {
    /*Pozíciónálások-Méretezések*/
    text-align: center;
    padding: 10px;


    /*Háttér-Stílusok*/
    color: white;
}

p{
    color: white;
    padding: 15px;
}

.emlekezzram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
}

.emlekezzram input {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    
}

.emlekezzram label {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#message{
    display: none;
    color: white;
    margin-top: 5px;
}




